.container {
	background-color: #555;
	box-sizing: border-box;
	color: white;
	margin: 0 auto;
	width: 50rem;
}

.button {
	background-color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	height: 3rem;
	transition: background-color 0.1s ease-in;
	width: 100%;
}


.button:hover {
	background-color: #333;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}

.form {
	width: 100%;
}

.form-input {
	border: none;
	border-radius: 5px;
	height: 2rem;
	margin: 1rem auto;
	padding: 5px;
	width: calc(100% - 10px);
}

.title {
	font-size: 1.2rem;
}

.content {
	background-color: #ccc;
	border: 1px black solid;
	border-radius: 5px;
	padding: 1rem;
}

.content__name {
	background-color: #555;
	border: 1px black solid;
	border-radius: 5px;
	margin-bottom: 1px;
	padding: 1rem;
}

.content__message {
	background-color: #555;
	border: 1px black solid;
	border-radius: 5px;
	padding: 1rem;
}

.error {
	color: red;
	background-color: white;
	border: 1px solid red;
	border-radius: 5px;
	display: block;
	padding: 0.25rem 2rem;
	margin: 0.5rem 0;
}
